.header {
  background: linear-gradient(
    180deg,
    #125573 0%,
    rgba(18, 85, 115, 0.601042) 44.06%,
    rgba(18, 85, 115, 0) 88.85%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header__logo {
  height: 55px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 35px 50px;
  border-bottom: 1px solid #d8d8d8;
}
